.example-card {
  max-width: 600px;
  justify-content: center;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-mdc-row {
  height: 32px;
}

.mat-mdc-cell {
  justify-content: center;
  padding-left: 50px
}
